<div style="width:90%; margin:0 auto;">
  
  <h1>Upgrade to GOLD</h1>
  <p>El usuario Gold puede subir cuantas fotos quiera a la hora que desee.</p>
  </br>
  <div class="field">
  	<strong>
      <%= link_to "Upgrade To GOLD", "/ser_gold", class:"btn1 be-gold" %>
    </strong>
  </div>
</div>


